*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background-color: teal;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    background-color: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right
{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: .02px dashed #fff;
}